<div class="sidebar pds-border-radius-16 pds-border-1 pds-border-color-light">
    <div class="top">
        <a class="redirect-account-home pds-button pds-icon pds-background-accent pds-border-radius-8"><img src="{{IconAccount}}" alt="Account Icon"></a>
        <a class="redirect-account-commands pds-button pds-icon pds-border-radius-8"><img src="{{IconBag}}" alt="Bag Icon"></a>
    </div>
    <div class="bottom">
        <a class="redirect-account-settings pds-button pds-icon pds-background-none pds-border-radius-8"><img src="{{IconSettings}}" alt="Settings Icon"></a>
    </div>
</div>