<div class="container">
    <h1 class="pds-text-light pds-text-size-32 pds-text-weight-black">Constructeur</h1>
    <div class="pds-grid pds-grid-cols-3 pds-grid-gap-8">
        <form class="pds-cols-1">
            <!-- DIAMETER -->
            <div class="diameter">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Diamètre</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="diameter" name="diameter">
                    <option>48cm</option>
                    <option>50cm</option>
                    <option>52cm</option>
                    <option>54cm</option>
                    <option>56cm</option>
                </select>
            </div>
            <!-- TASTE -->
            <div class="taste">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Goût</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="taste" name="taste">
                    <option>Aucun</option>
                    <option>Fraise</option>
                    <option>Citron</option>
                    <option>Banane</option>
                    <option></option>
                </select>
            </div>
            <!-- MATERIAL -->
            <div class="material">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Matière</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="material" name="material">
                    <option>Latex</option>
                    <option>Polyurhétane</option>
                </select>
            </div>
            <!-- TEXTURE -->
            <div class="texture">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Texture</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="texture" name="texture">
                    <option>Aucune</option>
                    <option>Nervurée</option>
                    <option>Perlée</option>
                </select>
            </div>
            <!-- COLOR -->
            <div class="color">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Couleur</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="color" name="color">
                    <option>Aucune</option>
                    <option>Rouge</option>
                    <option>Vert</option>
                    <option>Jaune</option>
                    <option>Rose</option>
                </select>
            </div>
            <!-- LUBRICANT -->
            <div class="lubricant">
                <h2 class="pds-text-light pds-text-size-24 pds-text-weight-bold">Lubrifiant</h2>
                <select class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4 pds-background-none" id="lubricant" name="lubricant">
                    <option>Aucun</option>
                    <option>Lubrifiant aqueux</option>
                    <option>Lubrifiant siliconé</option>
                </select>
            </div>
        </form>
        <canvas class="pds-cols-2">

        </canvas>
    </div>
</div>