<div class="container">
    <h1 class="pds-text-light pds-text-size-32 pds-text-weight-black">Connexion</h1>
    <form class="login-form">
        <input class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="email" id="email" name="email" placeholder="Email" required>
        <input class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="password" id="password" name="password" placeholder="Mot de passe" required>
        <button class="pds-button pds-text-light pds-text-size-16 pds-background-accent pds-border-radius-4" type="submit">Connexion</button>
        <button class="redirect-register pds-button pds-text-secondary pds-text-size-16 pds-background-none pds-text-weight-bold">Pas encore de compte ? S'enregistrer</button>
    </form>
</div>