<div class="container pds-border-radius-16 pds-border-1 pds-border-color-light">
    <div class="left pds-text-light">
        <a class="redirect-home pds-text-size-32 pds-font-rozha-one">Profit</a>
        <a class="redirect-internal pds-text-size-16">Interne</a>
        <a class="redirect-external pds-text-size-16">Externe</a>
        <a class="redirect-about pds-text-size-16">À propos</a>
    </div>
    <div class="right pds-text-light">
        <a class="redirect-login pds-button pds-icon pds-background-accent pds-border-radius-8"><img src="{{IconAccount}}" alt="Account Icon"></a>
    </div>
</div>