<div id="notification">
    <div class="content pds-border-radius-8 {{BackgroundColor}}">
        <div class="top">
            <a id="close" class="pds-button pds-bg-color-negative pds-icon pds-border-radius-4">
                <img src="{{IconClose}}" alt="Close Button">
            </a>
            <h1 class="pds-text-size-24 {{TextColor}}">{{Title}}</h1>
            <img src="{{IconNotification}}" alt="Notification Icon">
        </div>
        <p class="pds-text-size-16 {{TextColor}}">{{Message}}</p>
        <div class="timer">
            <div class="bar pds-background-primary pds-border-radius-2"></div>
        </div>
    </div>
</div>