<div class="container">
    <h1 class="pds-text-light pds-text-size-32 pds-text-weight-black">Enregistrement</h1>
    <form class="login-form">
        <input class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="text" id="name" name="name" placeholder="Nom" required>
        <input class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="email" id="email" name="email" placeholder="Email" required>
        <input class="pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="date" id="birthdate" name="birthdate" placeholder="Date de naissance" required>
        <div class="pds-grid pds-grid-cols-2 pds-grid-gap-8">
            <input class="pds-col-1 pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="password" id="password" name="password" placeholder="Mot de passe" required>
            <input class="pds-col-1 pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="password" id="password-confirm" name="password-confirm" placeholder="Répéter le mot de passe" required>
        </div>
        <button class="pds-button pds-text-light pds-text-size-16 pds-background-accent pds-border-radius-4" type="submit">S'enregistrer</button>
    </form>
</div>