<div class="container">
    <div class="pds-grid pds-grid-cols-3 pds-grid-stack">
        <div class="pds-cols-1">
            <form class="rename">
                <input class="pds-text-light pds-background-none pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="text" id="name" name="name" placeholder="{{Name}}" required>
                <button class="pds-button pds-text-light pds-text-size-16 pds-background-accent pds-border-radius-4" type="submit">Se renommer</button>
            </form>
        </div>
        <div class="pds-cols-2">
            <form class="reset-password">
                <div class="pds-grid pds-grid-cols-2 pds-grid-gap-8">
                    <input class="pds-cols-1 pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="password" id="password" name="password" placeholder="Mot de passe" required>
                    <input class="pds-cols-1 pds-text-light pds-text-size-16 pds-border-1 pds-border-light pds-border-radius-4" type="password" id="password-confirm" name="password-confirm" placeholder="Répéter le mot de passe" required>
                </div>
                <button class="pds-button pds-text-light pds-text-size-16 pds-background-accent pds-border-radius-4" type="submit">Changer de mot de passe</button>
            </form>
        </div>
        <div class="pds-cols-3">
            <button class="delete-user pds-button pds-text-light pds-text-size-16 pds-background-negative pds-border-radius-4">Supprimer mon compte</button>
        </div>
    </div>
</div>
