#cart {
    padding-top: 96px;
    .customs {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .redirect-checkout {
        margin-top: 16px;
        img {
            margin-left: 8px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        .bottom {
            hr {
                border-color: #FFFFFF;
            }
        }
    }
}