#external {
    min-height: 100vh;
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        .left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            > * {
                margin: 4px 0;
            }

            select {                                                           // Damn that was a hard one...
                width: 100%;
                padding: 4px 8px;
                appearance: base-select;
                :not(:-internal-list-box):not([multiple])::picker-icon {
                    content: none;
                }
                option {
                    padding: 0 4px;
                    display: flex;
                    justify-content: space-between;
                }
                option:hover {
                    background-color: #FFFFFF88;
                    border-radius: 4px;
                }
                option::checkmark {
                    display: none;
                }
            }

            select::picker(select) {
                appearance: base-select;
                padding: 8px;
                margin: 8px 0;
                border: 1px solid white;
                background-color: #F85FD0;
                border-radius: 8px;
            }                                                                  // To here, MAKE SURE TO USE CHROMIUM 135+ BASED !!!
        }
        .right {
            display: flex;
            align-items: center;
            canvas {
                width: 100%;
                height: 100%;
            }
        }
    }
}