#home {
    min-height: 100vh;
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .right {
            img {
                width: 320px;
            }
        }
    }
}