#register {
    min-height: 100vh;
    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        form {
            display: flex;
            flex-direction: column;
            > * {
                margin: 4px 0;
            }
            input {
                background: none;
                padding: 4px;
            }
        }
    }
}