#settings {
    padding-top: 16px;
    .pds-grid {
        > * {
            display: flex;
            flex-direction: column;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        > * {
            margin: 4px 0;
        }
        input {
            background: none;
            padding: 4px;
        }
    }
}